<!DOCTYPE html>
<html>
<head>
    <title>GameInfo - View All</title>
</head>
<body>
<h1> Information </h1>
<% if(locals.was_successful) { %>
<div>
    <div id="message">
        <%= gameinfo.era %> was succesfully deleted.
    </div>
</div>
<% } %>
<a href="/gameinfo/add" > Add New Information </a> <br/>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Era</th>
        <th>Maker</th>
        <th> Actions </th>
        <th> Delete </th>
    </tr>
    <% for(var i=0; i< gameinfo.length; i++ ) { %>
    <tr>
        <td><%= gameinfo[i].gameinfo_id%></td>
        <td><%= gameinfo[i].era %></td>
        <td><%= gameinfo[i].maker %></td>
        <td>
            <a href='/gameinfo/edit/?gameinfo_id=<%= gameinfo[i].gameinfo_id %>'>
                Edit
            </a>
        </td>
        <td>
            <a href='/gameinfo/delete/?gameinfo_id=<%= gameinfo[i].gameinfo_id %>'>Delete
            </a>
        </td>
    </tr>
    <% } %>
</table>
</body>
</html>