<!DOCTYPE html>
<html>
<head>
    <title>Games - View All</title>
</head>
<body>
<h1>Games</h1>
<% if(locals.was_successful) { %>
<div>
    <div id="message">
        <%= games.game_title %> was succesfully deleted.
    </div>
</div>
<% } %>
<a href="/games/add" > Add New Game Title</a> <br/>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Game Title</th>
        <th>Rating</th>
        <th> Actions </th>
        <th> Delete </th>
    </tr>
    <tr>
        <% for(var i=0; games.length > i; i++ ) { %>
        <td><%= games[i].games_id%></td>
        <td><%= games[i].game_title %></td>
        <td><%= games[i].rating %></td>
        <td>
            <a href='/games/edit/?games_id=<%= games[i].games_id %>'>Edit
            </a>
        </td>
        <td>
            <a href='/games/delete/?games_id=<%= games[i].games_id %>'>Delete
            </a>
        </td>
    </tr>
    <% } %>
</table>
</body>
</html>